{#
  STYLEGUIDE ONLY: This template is not carried into Drupal. However, the Drupal landing page-page template is customized to attach the node.js script file.
#}

{{ landing_page_instructions }}

{% embed "@pages/layouts/01-kermit/kermit.twig" %}
{% block placeholderOpen %}
	<article class="node--type-landing_page pl-spacer">
{% endblock %}
	{% block top %}
		<div class="block-region-top {{ banner_style }}">
      {% if banner_img %}
        <div class="block-entity-fieldnodefield-banner">
          <div class="field field-banner">
            <article class="media media-image view-mode-banner">
              <div class="field field-media-image">
                <picture>
                  <img src="{{ banner_img }}" />
                </picture>
              </div>
            </article>
          </div>
        </div>
        {% endif %}

        <div class="block block-system-breadcrumb-block">
          <nav class="breadcrumb" role="navigation">
            <ol>
              <li><a href="#">Home</a></li>
              <li>Basic Page Example</li>
            </ol>
          </nav>
        </div>
        <div class="block block-entity-fieldnodetitle">
          <h1>{{ basic_page_title }}</h1>
        </div>
        <nav role="navigation" class="block--system-menu main-navigation main-menu page-menu preserve" aria-labelledby="main-menu">
          <h2 class="block-title">{{ menu_title }}</h2>
          <select>
            <option value="#">Go To Another Page</option>
            <option value="#">Main Menu 1</option>
            <option value="#">Main Menu 2</option>
            <option value="#">Main Menu 3</option>
            <option value="#">Main Menu 4</option>
            <option value="#">Main Menu 5</option>
          </select>
        </nav>
      
      </div>

      
  	{% endblock %}

  	{% block main %}
  		<div class="block-region-main">
        <div class="block block-entity-fieldnodebody">
          <div class="field body">
              {% for text in body %}
                <p>{{ text }}</p>
              {% endfor %}
          </div>
        </div>
      </div>
      {% if cta or social %}
        <div class="block block-entity-fieldnodefield-oc-widgets">
          <div class="field--name-field-oc-widgets">
            {% if cta %}
              {% for call in cta %}
                {% set title = call.widget_title %}
                {% set color = call.cta_back_color %}
                {% set text = call.cta_text %}
                {% set url = call.cta_url %}
                {% set linkText = call.cta_link_text %}
                {% include "@organisms/02-widgets/call-to-action/call_to_action.twig"
                  with{
                    widget_title: title,
                    cta_back_color: color,
                    cta_text: text,
                    cta_url: url,
                    cta_link_text: linkText
                  }
                %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}
  	{% endblock %}

  	{% block bottom %}

  	{% endblock %}
	{% block placeholderColse %}
		</article>
	{% endblock %}
{% endembed %}