{#
	DRUPAL: This template is embedded into the Drupal pullquote paragraph template.
#}

{{ quote_instructions }}
{% block plwidgetopen %}
	<div class="flex-wrap single pl-spacer">
		<div class="paragraph paragraph--type--pullquote">
		{% if quote_back_color %}
			<div class="widget-color {{quote_back_color}}">
		{% endif %}
{% endblock %}

				{% if widget_title %}
					<h2 class="widget-title">{{widget_title}}</h2>
				{% endif %}
		
				<div class="wrapper">
					{% block quoteContent %}
						{% if quote %}
							<div class="field field-oc-long-text">
								{{ quote }}
							</div>
						{% endif %}
						{% if source %}
							<div class="field field-oc-short-text">
								{{ source }}
							</div>
						{% endif %}
					{% endblock %}
				</div>
				
{% block plwidgetclose %}
		{% if quote_back_color %}
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}